body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.logo img {
    width: 150px;
}

.input-container {
    margin-top: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

#result {
    margin-top: 20px;
}

.prediction {
    font-size: 24px;
    margin-top: 10px;
}

#prediction.big {
    color: blue;
}

#prediction.small {
    color: blue;
}

#prediction .green-dot {
    color: green;
    font-size: 40px;
}

#prediction .red-dot {
    color: red;
    font-size: 40px;
}
